SECRET_KEY=your-django-secret-key-min-50-chars
DEBUG=True
DATABASE_URL=postgres://devpay_user:devpay_pass@db:5432/devpay
PAYSTACK_SECRET_KEY=sk_test_xxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxx
ALLOWED_HOSTS=localhost,127.0.0.1
